@import 'mixins/mixins.scss';

.buttons {
  @include flex-start();

  & button {
    position: relative !important;
    margin-right: 10px;
    border: 0 !important;

    &.active {
      filter: drop-shadow(3px 7px 7px var(--shadow-color));
    }

    &.all {
      border: 1px solid var(--admin-button-shadow-color) !important;
    }
  }
}

.empty {
  min-height: 76.58px;
  padding: 4px 0;
  margin: 1.5rem 0;
}